---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<header>
    <div>
        <h1>Hi, I'm Nathan, a Mechanical Engineer turned QA Engineer and a passionate developer.</h1>
    </div>
</header>
<h2>Projects</h2>

{% set projectsList = collections.projects %}
{% set projectsListCounter = collections.projects | length %}
{% include "projectsList.njk" %}

{# <h2>Latest 3 Posts</h2> #}

{# {% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %} #}

{# <p>More posts can be found in
    <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}

<h2>Stack</h2>
<i class="fab fa-js"></i>

<h2>Reach out!</h2>

<p>I'm currently looking for a job, as a QA Engineer or as a developer. Feel free to contact me!</p>

<div class="contact">
    <a href="https://github.com/nathaner" target="_blank" rel="noopener noreferrer"><img src=" img/github.png" alt="Github"></a>
    <a href="https://www.linkedin.com/in/nathanriviere/" target="_blank" rel="noopener noreferrer">
        <img src="img/linkedin.png" alt="LinkedIn">
    </a>
    <a href="mailto:n.e.riviere@gmail.com"><img src="img/mail.png" alt="Mail"></a>
</div>